.form-group {
    width: fit-content;
    margin: auto;
}

.scheduleDate {
    display: flex;
    flex-direction: column;
}

.cropInfo {
    width: 20em;
    margin: auto;
    margin-top: 40px;
}

.scheduleTop {
    display: flex;
    text-align: center;
    margin-top: 7em;
}

.scheduleForm {
    background-color: #F0EFE4;
    width: 50em;
    margin: auto;
    padding-bottom: 35px;
    padding-top: 35px;
    border-radius: 30px; 
    margin: 40px;

}

.formContainer {
    flex-basis: 50%;
    justify-self: center;
}
aside {
    flex-basis: 25%
}

#scheduleButton {
    position: relative;
}
.frostDateContainer {
    text-align: center;
    margin: 40px;
}

.frostTable {
    margin:auto;
    background-color: #F0EFE4;
    padding: 15px;
    border-radius: 30px;
}
.scheduleListContainer {
    margin-top: 7em;
    display: flex;
}

.cropName {
    margin-right: 5px;
}

.schedule--hidden {
    display: none;
}

.scheduleFlex {
    width: 70em;
}

.dateGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.plantingCard {
    padding: 10px;
    text-align: center;
    border-top: .5px solid white;
    width: 15em;
    background-color: #F0EFE4;
    margin: 5px;
    height: fit-content;
}

.cropName {
    margin: 0;
}
.scheduleNotes {
    margin: 0;
}

.pastPlantings--container {
    margin: auto;
}
.futurePlantings--container {
    margin: auto;
}

.tdInfo{
    width: 75px;
}
td {
    border-bottom: .5px solid white;
}
.stationContainer{
    display: flex;
    flex-direction: column;
    text-align: initial;
    padding: 34px 20px;
    flex-basis: 30%;
}
.frostDateContainer{
    display: flex;
    width: fit-content;
    margin: auto;
}
.frostDateTitle{
    width: 40em;
    margin: 40px auto 0px;
    border-bottom: 1px solid;
}
.tableTwo {
    margin-bottom: 50px;
}
.dButton--close {
    display: block;
    margin-bottom: 20px;
}



