.form-group {
    width: fit-content;
    margin: auto;
}

.scheduleDate {
    display: flex;
    flex-direction: column;
}

.cropInfo {
    width: 20em;
    margin: auto;
    margin-top: 40px;
}

.scheduleTop {
    display: flex;
    text-align: center;
    margin-top: 7em;
}

.scheduleForm {
    background-color: #F0EFE4;
    width: 50em;
    margin: auto;
    padding-bottom: 35px;
    padding-top: 35px;
    border-radius: 30px; 
    margin: 40px;
}

.formContainer {
    flex-basis: 50%;
}
aside {
    flex-basis: 25%
}

#scheduleButton {
    position: relative;
}
.frostDateContainer {
    text-align: center;
    margin: 40px;
}

.frostTable {
    margin:auto;
    background-color: #F0EFE4;
    padding: 15px;
    border-radius: 30px;
}
.scheduleListContainer {
    margin-top: 7em;
    display: flex;
}

.cropName {
    margin-right: 5px;
}

.schedule--hidden {
    display: none;
}

.scheduleFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.dateGroup {
    background-color: #F0EFE4;
    padding: 10px;
    margin: 5px;
    flex-basis: 12%;
    text-align: center;
    min-width: 15em;
    height: fit-content;
}

.plantingCard {
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: .5px solid white;
}

.cropName {
    margin: 0;
}
.scheduleNotes {
    margin: 0;
}

.pastPlantings--container {
    margin: auto;
}
.futurePlantings--container {
    margin: auto;
}

.tdInfo{
    width: 75px;
}
td {
    border-bottom: .5px solid white;
}
.stationContainer{
    display: flex;
    flex-direction: column;
    text-align: initial;
    padding: 34px 20px;
    flex-basis: 30%;
}
.frostDateContainer{
    display: flex;
    width: fit-content;
    margin: auto;
}
.frostDateTitle{
    width: 40em;
    margin: 40px auto 0px;
    border-bottom: 1px solid;
}
.tableTwo {
    margin-bottom: 50px;
}

.showButton {
    color: rgb(141, 106, 17);
    border:  rgb(141, 106, 17) 1px solid;
    background-color: white;
    margin: 5px;
    transition-duration: 0.6s;
    cursor: pointer;
    padding: 15px;
    font-size: 16px;
    
}
.showButton:hover {
    color: white;
    background-color:  rgb(141, 106, 17);
    border: none;
}

.editDelete{
    border: none;
    color: black;
    text-decoration: underline;
    cursor: pointer;
    padding: 7px;
    font-size: 15px;
}
.editDelete:hover {
    background-color: rgb(172, 144, 76);
    color: white;
}

