.logListContainer {
    display: flex;
    margin-top: 7em;
}

.loggedPlantingsList {
    flex-basis: 50%;
}

.loggedHarvestsList {
    flex-basis: 50%;
}

.logInfo {
    width: 15em;
    margin: auto;
}

.logForm {
    background-color: #F0EFE4;
    width: 50em;
    padding-bottom: 35px;
    padding-top: 35px;
    margin: auto;
    margin-top: 10em;
     border-radius: 30px;
    
}

.dateRadio {
    display: flex;
}

.radio {
    display: flex;
    flex-direction: column;
    align-content: left;
    margin-right: 75px;
}
.dateField {
    margin-left: 145px;
}
.archiveButtonDiv {
    text-align: center;
    margin-top: 3em;
}
.logButtonDiv {
    text-align: center;
}

.logHidden{
    display: none;
}

.logButtons {
    width: fit-content;
    margin: auto;
}
.flexLogs{
    /* text-align: center; */
    width: 70em;
    
}
.logDateGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.logList {
   margin: auto; 
}

.logPlantingCard{
    padding: 10px;
    text-align: center;
    border-top: .5px solid white;
    width: 15em;
    background-color: #F0EFE4;
    margin: 5px;
}
.logCropName{
    margin: 0;
}
.logNotes{
    margin: 0;
}

.editDelete{
    margin-top: 10px
}
.typeTitle{
    width: 40em;
    border-bottom: 1px solid;
    margin: auto;
}

.archiveButton{
    background-color: rgb(59, 59, 59);
    color: white;
    border: none;
    transition-duration: 0.6s;
    cursor: pointer;
    padding: 15px;
    font-size: 16px;
}
.archiveButton:hover {
    background-color: rgb(141, 106, 17);
    color: white;
}