.homeContainer {
    display: flex;
    flex-direction: column;
    margin-top: 7em;
}

.upcomingPlantings--container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 40em;
    overflow: auto;
}

.weatherContainer {
    display: flex;
    position: fixed;
    bottom: 10px;
    width: 75%;
    align-self: center;
    justify-content: space-evenly;
    padding: 30px;
    background-color: rgb(157, 175, 168);
    border-radius: 20px;
}

.forecast--card {
    text-align: center;
}

.detailCard--task {
    min-width: 20em;
    margin: 20px;
    text-align: center;
    background-color: #F0EFE4;
}