.homeContainer {
    display: flex;
    flex-direction: column;
    margin-top: 7em;
    margin-bottom: 30em;
    overflow: auto;
}

.plantings--container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: fit-content;
    margin: auto;
}

.weatherContainer {
    display: flex;
    position: fixed;
    bottom: 10px;
    width: 75%;
    align-self: center;
    justify-content: space-evenly;
    padding: 10px;
    background-color: rgb(157, 175, 168);
    border-radius: 20px;
}

.forecast--card {
    text-align: center;
}

.detailCard--task {
    min-width: 15em;
    padding-bottom: 1em;
    margin: 5px;
    text-align: center;
    background-color: #F0EFE4;
}

.forecast--image{
    width: 3em;
    height: auto;
}
p {
    line-height: 0;
}