.navbar {
    display: flex;
    flex-wrap: nowrap;
    background-color: #DA8C65;
    padding: 1em; 
    font-size: larger;
    position: fixed;
    width: -webkit-fill-available;
    top:0;
    left:0;
    margin-top: 0px;

}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    text-align: center;
}
.navbar__link {
    color: white;
}

.navbar__link:hover {
    color: darkslategray;
}